<!DOCTYPE html>
<html>
<body bgcolor="#D3D3D3">
  <a href="./Main_Page.html">Home Page</a>
  <a href="./About.html">About</a>
  <a href="./Menu.html">Menu</a>
  <a href="./Register.html">Register</a>
  <a href="./Complaint_Compliment.html">File a Complaint or Compliment</a>
  <a href="./Deposit.html">Make a Deposit</a>
  <a href="./Discussion_Board.html">Discussion Board</a>
  <header>
    <h1>Make a Deposit</h1>
  </header>
  <p>Balance:</p>
  <p id="total">$0</p>
  <label for="amount">Amount: </label>
  <br>
  <input type="text" id="amount" name="amount">
  <br>
  <label for="card">Card Number: </label>
  <br>
  <input type="password" id="card" name="card">
  <br>
  <input type="submit" value="Send" onclick="submitted()">
  <p id="submitted_text" style="display:hidden"></p>

  <script>
    function submitted() {
      console.log('agsffwewf')
      document.getElementById('submitted_text').display = 'block';
      document.getElementById('submitted_text').innerHTML = 'You have placed a deposit, cutie.';
      document.getElementById('total').innerHTML = '$' + (parseInt(document.getElementById('amount').value) + parseInt(document.getElementById('total').innerHTML.substring(1)))
    }
  </script>
</body>
</html>
