{% extends 'restaurant/base.html' %}
{% block content %}
  {% for post in posts %}
    <article class="media content-section">
      <div class="media-body col-md-12">
        <div class="article-metadata">
          <a class="mr-1" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.time_posted }}</small>
          {% if not post.author.pk == user.pk %}
            <a href="{% url 'report' post.author.pk %}" class="small float-right">report</a>
          {% endif %}
        </div>
        <h2 class="text-truncate" style="max-width: 35rem;"><a class="article-title" href="{% url 'post_detail' post.id %}">{{ post.subject }}</a></h2>
        <p class="article-content text-truncate text-justify" style="max-width: 35rem;">{{ post.body }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section">
    <h4>Discussion Board Actions</h4>
    <p class='text-muted'>
      <a href="{% url 'make_post' %}" class="list-group-item list-group-item-dark">Make a Post</a>
      <a href="{% url 'dispute' %}" class="list-group-item list-group-item-dark">Dispute Reports</a>
    </p>
  </div>
</div>
{% endblock sidebar %}
