{% extends 'restaurant/base.html' %}
{% block content %}
{% endblock content %}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section">
    <h4>Discussion Board Actions</h4>
    <p class='text-muted'>
      <a href="{% url 'make_post' %}" class="list-group-item list-group-item-dark">Make a Post</a>
      <!--<a href="{% url 'report' %}" class="list-group-item list-group-item-dark">Report a User</a>-->
      <a href="{% url 'dispute' %}" class="list-group-item list-group-item-dark">Dispute a Report</a>
    </p>
  </div>
</div>
{% endblock sidebar %}
