{% extends 'restaurant/base.html' %}
{% block content %}
  <header>
    <h1>Create a Post</h1>
    <br>
    <h4>Remember to refrain from using taboo words.</h4>
  </header>
  <main>
    <label for="title">Post Title: </label>
    <input type="text" id="title" name="title" size="50">
    <br>
    <label for="post">Post Text: </label>
    <br>
    <textarea type="text" id="post" name="post" rows="20" cols="100">
    </textarea>
    <br>
    <input type="submit" value="Send" onclick="submitted()">
    <p id="submitted_text" style="display:hidden"></p>

  </main>
  <script>
    function submitted() {
      document.getElementById('submitted_text').display = 'block';
      document.getElementById('submitted_text').innerHTML = 'Your post has been posted to the discussion board, cutie.';
    }
  </script>
{% endblock content %}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section">
    <h3>Discussion Board Actions</h3>
    <p class='text-muted'>
      <a href="{% url 'make_post' %}" class="list-group-item list-group-item-dark">Make a Post</a>
      <a href="{% url 'report' %}" class="list-group-item list-group-item-dark">Report a User</a>
      <a href="{% url 'dispute' %}" class="list-group-item list-group-item-dark">Dispute a Report</a>
    </p>
  </div>
</div>
{% endblock sidebar %}
