{% extends 'restaurant/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Create a Post</legend>
          <p class="text-muted">Remember to refrain from using taboo words.</p>
          <p class="text-muted"><strong>Note:</strong> More than 3 taboo words in a post will result in a warning.</p>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-dark" type="submit">Submit</button>
        </div>
      </form>
  </div>
{% endblock content %}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section">
    <h4>Discussion Board Actions</h4>
    <p class="text-muted">
      <a href="{% url 'make_post' %}" class="list-group-item list-group-item-dark">Make a Post</a>
      <a href="{% url 'dispute' %}" class="list-group-item list-group-item-dark">Dispute Complaints or Reports</a>
    </p>
  </div>
</div>
{% endblock sidebar %}
