{% extends 'restaurant/base.html' %}
{% load static %}
{% block override %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <form method="GET" action="{% url 'search' %}">
    <input name="q" value="{{ request.GET.q }}" placeholder="search" />
    <button class="btn btn-success" type="submit">Search</button>
  </form>

  <div class="col-md-12">
    <div class="content-section row col-md-10">
      <div class="col-md-6">
        <h2>Your Cart</h2>
        <ul class="row">
          {% for item in cart %}
            <li class="col-md-7">{{ item.quantity }}x {{ item.item }}: ${{ item.price}}</li>
            <form class="" method="POST" action="{% url 'remove_from_cart' %}">
                {% csrf_token %}
                <input type="hidden" name="dish_id" value="{{ item.dish_id }}" />
                <button class="small btn-dark" type="submit">-</button>
              </form>
          {% endfor %}
        </ul>
        {% if user.is_authenticated %}
          <p><strong>Your Balance: </strong>${{ balance }}</p>
          <p><strong>Total Cost: </strong>${{ total_cost }}</p>
        {% endif %}
      </div>
      {% if balance >= total_cost %}
      <div class="col-md-6">
          <a class="btn btn-dark text-light float-right" href="{% url 'checkout' %}">Proceed to Checkout</a>
      </div>
      {% else %}
        {% if user.is_authenticated %}
          <strong>Your balance is lower than the total cost. Please <a href="{% url 'deposit' %}">make a deposit</a>.</strong>
        {% endif %}
      {% endif %}
    </div>
    {% for dish in sorted_dishes %}
      <h3>{{ dish.0 }}</h3>
      <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">
        <!--<div class="controls-top" style="float: right">
          <a class="btn btn-dark col-md-5" href="#multi-item-example" data-slide="prev">&lt;</a>
          <a class="btn btn-dark col-md-5" href="#multi-item-example" data-slide="next">&gt;</a>
        </div>-->
        <div class="carousel-inner" role="listbox">
        <!-- Carousel not working as expected, so it's just used to display the items in a grid of a max width of 3 cards -->
        {% for slide in dish.1 %}
          {% for item in slide %}
            <div class="carousel-item active">
              <div class="col-md-4" style="float:left">
               <div class="card mb-2 content-section">
                  <!-- item.name here as id for redirecting purposes upon refresh? -->
                  <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}" height="250px">
                  <div class="card-body">
                    <h4 class="card-title"><a class="article-title" href="{% url 'menu_detail' item.pk %}">{{ item.name }}</a></h4>
                    <p class="card-text">{{ item.description }}</p>
                    <p class="card-text">${{ item.price }}</p>
                    <p class="card-text">Rating: <a href="{% url 'rate' item.pk %}">{{ item.avg_ratings }}/5.0</a><small class="text-muted"> {{ item.total_ratings }} ratings</small></p>
                    {% if not item.tag == 'SP' or is_VIP %}
                      <form method="POST" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="dish_id" value="{{ item.pk }}" />
                        <input type="hidden" name="quantity" value="1" />
                        <button type="submit" class="btn btn-dark text-light">Add to Cart</button>
                      </form>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
        </div>
      </div>
    {% endfor %}
{% endblock override %}
