body {
  background: #BFBFBF;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-custom {
  background-color: #44A963;
}

.site-header .navbar-nav .nav-link {
  color: #FFFFFF;
}

.site-header .navbar-nav .nav-link:hover {
  color: #E0E0E0;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #CCCCCC;
  padding: 10px 20px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428BCA;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #E3E3E3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.card-img-top {
    max-width: 100%;
    max-height: 15vw;
    object-fit: cover;
}
